
* {
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden; /*To remove infinite moving scroll bar dueto Long Track(800vw)*/
    animation: shake linear 3s infinite; /*.4s will shake ur mind and makefear of ur laptop screen :)*/
}

.sky {
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg);
    position: absolute;
    background-repeat: no-repeat;
}


.trees {
    height: 100vh;
    width: 100%;
    background-image: url(trees.png);
    background-size: cover;
    position: absolute;
    top: -144px; 
}


.tracks{
    height: 60vh;
    width: 800vw;
    background-image: url(track.png);
    background-repeat: repeat-x; /* NO NEED*/
    position: absolute;
    top: 70vh;
    animation: carmove linear 5s infinite;
}

.car{
    height: 100px;
    width: 380px;
    background-image: url(car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 444px;
    bottom: 30vh;
    animation: shake linear .4s infinite;
}

.wheel1 img {
    width: 77px;
    position: relative;
    top: 36px;
    left: 44px;
    animation: wheelRotation  linear .3s infinite;
}

.wheel2 img {
    width: 77px;
    position: relative;
    top: -43px;
    left: 233px;
    animation: wheelRotation  linear .3s infinite;
}

@keyframes wheelRotation {
    100%{
        transform: rotate(360deg);
    }
}

@keyframes carmove {  /*to move road(track) back */
    100%{
        transform: translateX(-500vw);
    }
}

@keyframes shake{  /*To shake car up and down*/

    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}

@keyframes shakebody{  /*To shake screen up and down*/

    0%{
        transform: translateY(-100px);
    }
    50%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(-100px);
    }
}